.submitBtn {
  margin-top: 20px;
  padding: 10px 0;
  background: gray;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background: gainsboro;
    color: black;
  }

  button {
    border: none;
    background: none;
    outline: none;
    margin: 0 30px;
    font-weight: 400;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .submit {
    margin-left: 120px;
  }

  .style {
    margin-left: 70px;
  }

  .moving {
    margin-left: 160px;
  }
}
