#dark .signUp-container .logo {
  filter: brightness(0) invert(1);
}

#light .signUp-container {
  background: #f8f9fa;
  color: #222;
}

#light body {
  background: black;
}

#dark .signUp-container {
  background: #232323;
  color: #fff;
}

#dark .signUp-container .title,
#dark .signUp-container h3 {
  color: #ffe082;
}

#dark .signUp-container input {
  background: #232323;
  color: #fff;
  border-bottom: 1px solid #888;
}

#light body {
  background: #f8f9fa;
  color: #222;
}

#dark body {
  background: #181818;
  color: #fff;
}

.signUp-container {
  display: flex;
  flex-direction: column;
  min-height: 0vh;
  // align-items: center;
  justify-content: center;
  margin: 0rem auto;
  margin-bottom: 50px;
  max-width: 450px;
  background: #f8f9fa;
  border-radius: 8px;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);

  transition: box-shadow 83ms;

  .logo {
    margin: 0 auto;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    padding-right: 10px;
  }

  h3 {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: -20px;
    text-align: center;
    padding-right: 5px;
  }

  .logo {
    height: 50px;
    width: 40px;
  }

  .body {
    margin-top: -30px;

    .link {
      margin-top: 5px;
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
      text-align: center;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }

    #dark.link {
      color: #ffe082;
    }
  }
}

/* Responsive design for mobile screens */
@media screen and (max-width: 768px) {
  .signUp-container {
    width: 90%;
    max-width: 380px;
    padding: 1rem;
    border-radius: 6px;

    .logo {
      width: 35px;
      height: 40px;
      margin-bottom: 10px;
    }

    .title {
      font-size: 1.4rem;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 0.3rem;
    }

    h3 {
      font-size: 0.95rem;
      text-align: center;
      margin-top: -10px;
    }

    .sign-up-form {
      display: flex;
      flex-direction: column;

      input {
        width: 90%;
        font-size: 0.9rem;
        padding: 15px;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .link {
        font-size: 0.9rem;
        margin-top: 10px;
      }
    }
  }
}

#dark label {
  color: white;
}