#dark .cart-icon .shopping-icon {
  filter: brightness(0) invert(1);
}
.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: auto;
    font-size: 10px;
    font-weight: bold;
  }
}
