.content-right-block {
  .content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

    label {
      color: #3a3a3b;
      font-size: 22px;
      font-weight: 500;
    }

    input {
      border: none;
      width: 700px;
      height: 78px;
      padding-left: 20px;
      border-radius: 4px;
      background: #32323c;
      color: white;
      font-family: Outfit;
      font-size: 20px;

      &::placeholder {
        color: white;
      }
    }

    textarea {
      width: 650px;
      border: none;
      padding: 25px;
      border-radius: 4px;
      background: #32323c;
      color: #3a3a3b;
      font-family: Outfit;
      font-size: 20px;

      &::placeholder {
        color: white;
      }
    }

    .contact-submit {
      border: none;
      color: white;
      border-radius: 10px;
      background: linear-gradient(264deg, #df8908 -5.09%, #8415ff 106.28%);
      font-size: 24px;
      padding: 15px 20px;
      margin-bottom: 50px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
}
