.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: white;

  .logo {
    display: block;
    height: 40px;
    width: 30px;
  }
  .options {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: -10px;

    .option {
      padding: 0px 15px;
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: grey;
      }
    }
    .cart-icon {
      display: block;
      width: 30px;
      height: 35px;
    }
  }
}

#light.header {
  background-color: #fff;
  color: #222;
}

#dark.header {
  background-color: #181818;
  color: #fff;
}

#dark .option {
  color: #fff;
}
#dark .option:hover {
  color: #bbb;
}
#dark .logo-img {
  filter: brightness(0) invert(1);
}
