.submitBtn {
  margin-top: 8px;

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }

  button {
    border: none;
    outline: none;
    background: gray;
    padding: 10px 24px;
    border-radius: 5px;
    font-weight: 400;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      background: gainsboro;
      color: black;
    }
  }

  .submit {
    margin-left: 0;
  }

  .style {
    margin-left: 0;
  }

  .moving {
    margin-left: 0;
    padding: 12px 65px;
    font-size: 16px;
  }

  .sign {
    margin-left: 0;
  }
}

@media (max-width:768px) {
  .submitBtn {
    padding: 0px 0;
    margin-right: 5px;
    margin-top: 6px;

    .inverted {
      font-size: 14px;
    }

    button {
      padding: 8px 16px;
      font-size: 15px;
    }


    .sign {
      margin-left: 0;
      font-size: 16px;
    }

    .style {
      margin-left: 0;
      font-size: 16px;
    }

    .moving {
      margin-left: 0;
      padding: 12px 65px;
      font-size: 16px;
    }
  }

}