.overlay {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-image-container {
        display: block;
        background-size: cover;
        background-position: center;
        margin: 10px;


        img {
            width: 300px;
            height: 300px;
        }
    }

    .error-image-text {
        font-size: 28px;
        color: #2f8e89;
    }
}