.nav-bar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    font-size: 12px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: linear-gradient(270deg, #ff7e5f 10%, #7b93fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    padding-left: 25px;

    .logo-img {
      height: 40px;
      width: 30px;
      padding-top: 12px;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-right: 100px;

    li,
    a {
      text-decoration: none;
      font-size: 20px;
      list-style: none;
      color: #962205;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: #696a6e;
      }
    }

    #dark li {
      color: white;
    }

    .switch {
      display: flex;
      align-items: center;
      margin-left: 15px;
    }

    .nav-close {
      display: none;
    }
  }

  .nav-open {
    display: none;
    font-size: 25px;
  }
}

#dark.nav-bar-container {
  background-color: black;
}

@media (max-width: 768px) {
  .nav-bar-container {
    .nav-open {
      display: block;
      position: fixed;
      right: 30px;
      cursor: pointer;
    }

    .nav-links {
      position: fixed;
      display: block;
      top: -18px;
      // gap: 30;
      padding-top: 30px;
      align-items: center;
      background: #1f0016;
      width: 200px;
      height: 100%;
      z-index: 2;
      transition: right 0.5s;
      right: -500px;

      li {
        padding-left: 15px;
        padding-top: 60px;
        font-size: 25px;
      }

      .nav-close {
        display: block;
        position: relative;
        left: 250px;
        width: 30;
        cursor: pointer;
      }

      a,
      .switch {
        color: white;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 45px;
        align-items: center;
        font-size: 25px;
      }
    }
  }
}